<% if (locals.errors && locals.errors.login) { %>
	<% locals.errors.login.forEach(function(error) { %>
		<p class="alert alert-primary" role="alert"><%= error %></p>
	<% }) %>
<% } %>
 
<%- include('partials/header'); %> 
<div id="login-page">
    <h1 class="navbar-brand font-weight-bold text-uppercase" id="logo">Great</h1>
    <div id="login-form">
        <form action="/login" method="post" id="form">
            <input type="email" name="email" placeholder="Email" value="parkjeesung77@gmail.com">
            <input type="password" name="password" placeholder="Password" value="testing">
            <br>
            <button id="login-button" type="submit">Login</button>
            <br>
            <a id="register-link" href="/register">Don't have an account?</a>
        </form>
    </div>
</div>
<%- include('partials/footer'); %>