<%- include('partials/header'); %> 
<div id="main">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <h1>Titus_Turner</h1>
      </div>
      <div class="row">
        <h1>Profile pictures</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h1>profile display</h1>
      </div>
      <div class="column">
        <h1>Text</h1>
      </div>
      <div class="row">
        <h1>input area</h1>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer'); %>