<%- include('partials/header'); %> 
<div id="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col" id="personal-background">
        <div id="profile-display-area">
          <img src="images/profile-picture.jpg" id="display-pic-home">
          <h1 id="username">Titus_Turner</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <a href="#" id="profile-scroll-block"><img src="images/friends/profile-1.jpg" id="profile-scroll-display"></a>
      <a href="#" id="profile-scroll-block"><img src="images/friends/profile-2.jpg" id="profile-scroll-display"></a>
      <a href="#" id="profile-scroll-block"><img src="images/friends/profile-3.jpg" id="profile-scroll-display"></a>
      <a href="#" id="profile-scroll-block"><img src="images/friends/profile-4.jpg" id="profile-scroll-display"></a>
      <a href="#" id="profile-scroll-block"><img src="images/friends/profile-5.jpg" id="profile-scroll-display"></a>
      <a href="#" id="profile-scroll-block"><img src="images/friends/profile-6.jpg" id="profile-scroll-display"></a>
      <a href="#" id="profile-scroll-block"><img src="images/friends/profile-7.jpg" id="profile-scroll-display"></a>
      <a href="#" id="profile-scroll-block"><img src="images/friends/profile-8.jpg" id="profile-scroll-display"></a>
      <a href="#" id="profile-scroll-block"><img src="images/friends/profile-9.jpg" id="profile-scroll-display"></a>
      <a href="#" id="profile-scroll-block"><img src="images/friends/profile-10.png" id="profile-scroll-display"></a>
    </div>
    <div class="row">
      <h1>profile display</h1>
    </div>
    <div class="column">
      <h1>Text</h1>
    </div>
    <div class="row">
      <h1>input area</h1>
    </div>
  </div>
</div>
<%- include('partials/footer'); %>