<%- include('partials/header'); %> 
<div id="loginPage">
    <h1 class="navbar-brand font-weight-bold text-uppercase" id="logo">Great</h1>
    <div>
        <form action="/login" method="post" id="form">
            <input type="email" name="email" placeholder="Email" value="parkjeesung77@gmail.com">
            <input type="password" name="password" placeholder="Password" value="testing">
            <button type="submit">Login</button>
            <a href="/register">Register</a>
        </form>
    </div>
</div>
<%- include('partials/footer'); %>