<%- include('partials/header'); %> 
<div id="main">
  <div class="container-fluid">
    <div class="container">
      <div class="col">
        <div class="row">
          <h1>Username and background</h1>
        </div>
        <div class="row">
          <h1>row of profiles</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer'); %>