body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #272727;
  color: #53ea9d;
}

a {
  color: #53ea9d;
}

a:hover {
 color: #def7ea;
}

a i {
  margin-right: 0.4rem;
}
.error404{
  text-align: center;
  background-color: rgba(17, 17, 17, 0.6);
}
.error404 h1{
  width: 100%;
  color: aliceblue;
  font-size: 30rem;
  font-weight: bold;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.66);
}

#search-button{
  border: none;
  background-color:#272727;
  color: #53ea9d ;
}

#search-button:hover{
  background-color: #53ea9d;
  color: #272727;
}

#logo{
  font-size: 50px;
}

#personal-background{
  height: 400px;
  background: url(../images/background_one.jpg) no-repeat center center fixed; 
  background-size: cover;
}

#username{
  color: white;
  font-size: 60px;
  text-shadow: 0 0 10px #000000, 0 0 3px #000000;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}

#display-pic-home{
  box-shadow: 0 0 20px #000000;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#profile-display-area{
  padding-top: 50px;
}

#header{
  color: #53ea9d;
}

#profile-scroll-view{
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
}

#profile-scroll-display{
  flex: 0 0 auto;
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  padding: 10px;
}

#current-profile-display{
  padding: 20px;
  border: #53ea9d;
}

#current-profile-img{
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

#current-profile-username{
  vertical-align: baseline;
}